
/*estilo para el css  https://www.youtube.com/watch?v=tJYRHI_Q6BM&ab_channel=J%26GProyectosWeb*/

body 
{  
    background-image: url(img/Imagen-turnos.jpeg);
    background-size: 100vw 100vh; /*le doy 100% del ancho y alto de la ventana*/
    background-attachment: fixed; /*para q la imagen quede fija cuando cambiamos el tamaño */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


form 
{
    width:800px ; 
    margin: auto;
    background: rgba(245, 142, 142, 0.6) ;   
    padding: 5px 10px; /* el margen del formulario*/
    box-sizing: border-box; /*para q los bordes del formulario se mantengan con los 450px*/
    margin-top: 10px;
    border-radius: 10px;
}
h3
{
    color:aliceblue;
    text-align: center;
    margin: 0;
    font-size: 40px;
}
input 
{
    width:100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 7px; /*padding del formulario*/
    box-sizing: border-box;
    font-size: 18px;
}

button
{
    background-color:rgba(201, 114, 118, 0.966);
    color:rgba(253, 253, 255, 0.993);
    font-size: 20px;
}
@media (max-width:715px) /* que el formulario se realice con los 715 que es el width + el padding*/
{
    form
     {width: 100%; 
}
    
}